<div class="container">
    <div class="row" align="center" style="margin-top:80px">
        <div class="span12">

            <div class="footer imgwrapper" style="margin-top:20px; width: 80%;">
                <img src="~/wwwroot/assets/images/error404.png" class="img-responsive" />
            </div>
        </div>
    </div>
</div>