    <div class="container ">
    <div class="row" style="background-color: #e3001b; margin-top:50px">
        <div class="span12">
            <div class="footer">
                <img src="~/wwwroot/assets/images/logo_libertad_blanco.png" width="150" height="62" />&nbsp;&nbsp;&nbsp;&nbsp;
                <img src="~/wwwroot/assets/images/mini_libertad_blanco.png" width="150" height="46" />&nbsp;&nbsp;&nbsp;&nbsp;
                <img src="~/wwwroot/assets/images/petit_blanco.png" width="150" height="41" />
                <p class="copyright text-center">© Libertad S.A.</p>
            </div>
        </div>
    </div>
</div>