<div>
    <div class="container ">
        <div class="row" align="center" style="margin-top:20px">
            <div class="span12">
                <div class="footer" style="margin-top:20px; margin-bottom:20px">
                    <img  style="width:128px; height:128px" src="~/wwwroot/assets/images/emptyResult.png" />
                </div>
                <lable>No se encontraron Resultados.</lable>
            </div>
        </div>
    </div>
</div>