<div>
    <div class="container ">
        <div class="row" align="center" style="margin-top:20px">
            <div class="span12">
                <lable>Buscando resultados, por favor espere...</lable>
                <div class="footer" style="margin-top:5px; margin-bottom:5px">
                    <img  style="width:128px; height:128px" src="~/wwwroot/assets/images/loading.gif" />
                </div>       
            </div>
        </div>
    </div>
</div>