<div>
    <div class="container ">
        <div class="row" align="center" style="margin-top:100px" v-if="errorInicioSesion">
            <div class="span12">
                <div class="footer" style="margin-top:20px; margin-bottom:20px">
                    <img style="width:128px; height:128px" src="~/wwwroot/assets/icons/userInvalid.png" />
                </div>
                <strong>El Usuario es inválido por favor, iniciar Sesión nuevamente</strong>
                <div class="footer" style="margin-top:5px; margin-bottom:5px">
                    <a onclick="IniciarSesion()" class="pointer">Iniciar Sesión</a>
                </div>
            </div>
        </div>
    </div>
</div>