<div class="row">
    <div class="container ">
        <div class="row" align="center" style="margin-top:80px">
            <strong>Bienvenidos al Sistema de Libertad, por favor introduzca una ruta válida.</strong>
        </div>
    </div>
</div>